@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&family=Yellowtail&display=swap');

* {
  padding: 0px;
  font-family: "Kode Mono", monospace;
}

body {
  color: azure;
  height: 500vh;
  background-color: rgb(36, 36, 36);
  background-image: url('../../public/2147625771.jpg');
}

#mainContainer {
  padding: 15vh !important;
}

#nav {
  position: fixed;
}

#logoNav {
  margin-top: -3vh;
}

#linkNav {
  margin-left: 30px;
  padding: 20px !important;
}

#Container {
  height: 75vh;
  width: 100%;
}

#textInit {
  max-width: 1200px !important;
  margin-top: -20vh;
  margin-left: 03vh;
}


#lineOne {
  font-size: 5vh;
}

#Sobre {
  display: flex;
  width: 130vh;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#textSobre {
  display: flex;
  font-size: 30px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
}

#titleSobre {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  line-height: 17vh;
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
  font-size: 185px;
  margin-top: 24vh;
}

#paragrafoSobre {
  text-align: left;
  width: 80vh;
  font-size: 25px;
  margin-top: 25vh;
  margin-left: -140px;
}

.barra {
  box-shadow: 1px 0px 10px 1px aliceblue;
  margin-top: 15vh;
  width: 100vh;
  height: 0.5px;
  background-color: aliceblue;
}

.barra {
  box-shadow: 1px 0px 10px 1px aliceblue;
  margin-top: 12vh;
  width: 130vh;
  height: 0.5px;
  background-color: aliceblue;
}

.barraContainer {
  box-shadow: 1px 0px 10px 1px aliceblue;
  margin-top: 2vh;
  margin-left: 38vh;
  height: 70vh;
  width: 0.5px;
  background-color: aliceblue;
}

.barraExperiencia {
  box-shadow: 1px 0px 10px 1px aliceblue;
  margin-top: 9vh;
  margin-left: -25vh;
  height: 70vh;
  width: 1px;
  background-color: aliceblue;
}

#Experiencia {
  display: flex;
  width: 120vh;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#textExperiencia {
  display: flex;
  font-size: 30px;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

#titleTempo {
  width: 30px;
  font-family: "Yellowtail";
  font-optical-sizing: auto;
  line-height: 11vh;
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
  font-size: 125px;
  margin-left: 4vh;
}

#linhaTempo {
  max-width: 100%;
  margin-left: 25vh;
  margin-top: -10vh;
}

#containerTempo {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-top: 15vh;
}

#containerTitle {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 15vh;
}

#itemTempo {
  position: absolute;
  font-family: "Yellowtail";
  color: #FFFFFF;
  font-size: 22vh;
  margin-left: -34vh;
  margin-bottom: -6vh;
}

#titlesLinha {
  display: flex;
}

.litleTitle {
  font-family: "Yellowtail";
  font-size: 23px;
  margin-left: 29vh;
}

.litleText {
  font-family: "Yellowtail";
  font-size: 18px;
  width: 24vh;
  margin-top: -8vh;
  margin-left: 20vh;
}

#textLinha {
  display: flex;
}