@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,900&family=Yellowtail&display=swap');

*{
  padding: 0px;
  font-family: "Kode Mono", monospace;
}

body {
  color: azure;
  height: 500vh;
  background-color: rgb(36, 36, 36);
  background-image: url('../../public/2147625771.jpg'); 
}

#mainContainer {
  padding: 12vh !important;
}

#nav {
  position: fixed;
}

#logoNav {
  margin-top: -3vh;
}

#linkNav {
  margin-left: 30px;
  padding: 20px !important;
}

#Container {
  height: 75vh;
  width: 100%; 
}

#textInit {
  max-width: 1200px !important;
  margin-top: -20vh;
  margin-left: 03vh;
}


#lineOne {
  font-size: 5vh;
}

#Sobre {
  display: flex;
  width: 130vh;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#textSobre {
  display: flex;
  font-size: 30px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

#titleSobre {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: #FFFFFF;
  font-size: 75px;
  margin-top: 70px;
}

#paragrafoSobre {
  text-indent:3vh;
  text-align: center;
  width: 130vh;
  margin-top: 5vh;
}

.barra {
  box-shadow: 1px 0px 10px 1px aliceblue;
  margin-top: 15vh;
  width: 100vh;
  height: 0.5px;
  background-color: aliceblue;
}

#Experiencia {
  display: flex;
  width: 130vh;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}